.tituloSeccion {
  font-weight: bold;
  font-size: 1.2em;
  color: #3671ed;
  text-decoration: underline;
}

.tituloTextoSeccion {
  font-weight: bold;
  font-size: 1em;
}


.textoSeccion {
  white-space: pre-line;
}